/* .content {
  height: 100vh;
} */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  background: gray;
  color: white;
  border-radius: 20px;
  font-size: 50px;
}
